:root{
    font-family: cheap-pine, sans-serif;
    font-style: normal;
    font-weight: 400;
}

*{
    margin-left: auto;
    margin-right: auto;
}

li{
    line-height: 140%;
    font-weight: bold;
}

blockquote{
    text-align: center;
    margin-left: 6.4em;
}

header{
    border-bottom: solid;
    border-color: lightsteelblue;
    background-image: linear-gradient(0deg, lightsteelblue, white);
}

body{
    width: 900px;
    border-style: solid;
    border-color: steelblue;
    box-shadow: 0px 8px 10px black;
}

footer{
    background-color: steelblue;
    font-size: small;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

aside{
    float: left;
    padding: 0 2em 0 2em;
    width: 245px;
}

.internalLink{
    color:maroon;
}

.externalLink{
    color:steelblue;
}

.externalLink:hover, aside h2{
    color:maroon;
}

.internalLink:hover{
    color:steelblue;
}

#stressHeader{
    font-family: cheap-pine;
}

#mailLink{
    color: white;
    font-weight: bold;
    
}

#additionalResources{
    padding: 0;
    text-decoration: none;
}

#navBar{
    padding-left: 3em;
    background-color: steelblue;
}

#navBar ul{
    list-style: none;
    position: relative;
    padding: 0;

}

#navBar ul li {
    float: left;
}


#navBar ul li a{
    text-align: center;
    user-select: none;
    display: block;
    width: 10em;
    padding: 1em 0 1em 0;
    text-decoration: none;
    background-color: steelblue;
}

#navBar ul li a:not(#active){
    color: white;
}

#active{
    color: black;
}

#navBar ul li a:hover{
    background-color: lightsteelblue;
}

#navBar ul ul{
    display: none;
    position: absolute;
    top: 100%;
}

#navBar ul ul li{
    float: none;
}

#navBar ul li:hover > ul {
    display: block;
}

#navBar > ul::after{
    content: "";
    display: block;
    clear: both;
}


#logo{
    float: left;
}

#title{
	font-size: 250%;
	font-style: italic;
	color: steelblue;
	text-indent: 45px;
	text-shadow: 3px 3px 3px steelblue;
}

#subtitle{
    text-indent: 45px;
    font-size: 150%;
}

#main{ 
    padding-left: 2em;
    padding-right: 2em;
}

#article{
    padding-left: 17.4em;
}